@model lab_2.Models.OrderViewModel

<h2>Edit Order</h2>

<form asp-action="Edit" method="post" class="edit-form">

    @Html.HiddenFor(m => m.Id)

    <div>
        @Html.LabelFor(m => m.EventType)
        @Html.EditorFor(m => m.EventType)
    </div>

    <div>
        @Html.LabelFor(m => m.EventDate)
        @Html.EditorFor(m => m.EventDate)
    </div>

    <div>
        @Html.LabelFor(m => m.EventDuration)
        @Html.EditorFor(m => m.EventDuration)
    </div>

    <div>
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
    </div>

    <div>
        @Html.LabelFor(m => m.Status)
        @Html.EditorFor(m => m.Status)
    </div>

    <div>
        @Html.LabelFor(m => m.ChildrenCount)
        @Html.EditorFor(m => m.ChildrenCount)
    </div>

    <div>
        @Html.LabelFor(m => m.CustomerEmail)
        @Html.EditorFor(m => m.CustomerEmail)
    </div>

    <button type="submit" class="btn btn-success">
        Save
    </button>

    <a class="btn btn-primary" asp-controller="Order" asp-action="Index">
        Cancel
    </a>
</form>
