@model lab_2.Models.OrderViewModel

<h2>Create Order</h2>

<form asp-action="Create" method="post">

    <div>
        @Html.LabelFor(m => m.EventType)
        @Html.EditorFor(m => m.EventType)
    </div>

    <div>
        @Html.LabelFor(m => m.EventDate)
        @Html.EditorFor(m => m.EventDate)
    </div>

    <div>
        @Html.LabelFor(m => m.EventDuration)
        @Html.EditorFor(m => m.EventDuration)
    </div>

    <div>
        @Html.LabelFor(m => m.Price)
        @Html.EditorFor(m => m.Price)
    </div>

    <div>
        @Html.LabelFor(m => m.Status)
        @Html.EditorFor(m => m.Status)
    </div>

    <div>
        @Html.LabelFor(m => m.ChildrenCount)
        @Html.EditorFor(m => m.ChildrenCount)
    </div>

    <div>
        @Html.LabelFor(m => m.CustomerEmail)
        @Html.EditorFor(m => m.CustomerEmail)
    </div>

    <button type="submit">Save</button>

    <a class="btn" asp-controller="Order" asp-action="Index">
        Cancel
    </a>
</form>

