@model List<lab_2.Models.OrderViewModel>

<h2>Orders</h2>

<p class="create-container">
    <a class="btn" asp-controller="Order" asp-action="Create">
        Create New Order
    </a>
</p>

<table class="orders-table">
    <tr>
        <th>Id</th>
        <th>Event Type</th>
        <th>Date</th>
        <th>Duration</th>
        <th>Price</th>
        <th>Status</th>
        <th>Children count</th>
        <th>Customer email</th>
        <th>Actions</th>
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Model[i].Id</td>
            <td>@Model[i].EventType</td>
            <td>@Model[i].EventDate.ToShortDateString()</td>
            <td>@Model[i].EventDuration.ToString()</td>
            <td>@Model[i].Price</td>
            <td>@Model[i].Status</td>
            <td>@Model[i].ChildrenCount</td>
            <td>@Model[i].CustomerEmail</td>
            <td>
                <a class="action-btn view-btn" asp-controller="Order" asp-action="Details" asp-route-id="@Model[i].Id">
                    View
                </a>

                <a class="action-btn edit-btn" asp-controller="Order" asp-action="Edit" asp-route-id="@Model[i].Id">
                    Edit
                </a>
            </td>
        </tr>
    }
</table>
